/* General styles for solutions container */
.solutions-container {
  padding: 20px;
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

.dark .solutions-container {
  background-color: black;
  color: white;
}

.solutions-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.dark .solutions-title {
  color: white;
}

.solutions-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 768px) {
  .solutions-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .solutions-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.solution-item {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s, border 0.3s;
  cursor: pointer;
  border: 2px solid transparent;
}

.dark .solution-item {
  background-color: black;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.solution-item:hover {
  transform: translateY(-10px);
  background: linear-gradient(135deg, #6b00b6, #00d4ff);
  box-shadow: 0 0 20px rgba(107, 0, 182, 0.8), 0 0 30px rgba(0, 212, 255, 0.8);
  border: 2px solid rgba(107, 0, 182, 0.8);
}

.dark .solution-item:hover {
  background: linear-gradient(135deg, #6b00b6, #00d4ff);
  box-shadow: 0 0 20px rgba(107, 0, 182, 0.8), 0 0 30px rgba(0, 212, 255, 0.8);
  border: 2px solid rgba(107, 0, 182, 0.8);
}

.solution-item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.solution-item .solution-icon {
  font-size: 3rem;
  margin-bottom: 10px;
}

.brain-icon {
  color: #ff5722;
}

.camera-icon {
  color: #3f51b5;
}

.cloud-icon {
  color: #009688;
}

.robot-icon {
  color: #e91e63;
}

.teacher-icon {
  color: #ffc107;
}

.solution-item h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.dark .solution-item h2 {
  color: white;
}

.solution-item p {
  font-size: 1rem;
  color: #555;
  text-align: center;
}

.dark .solution-item p {
  color: #cccccc;
}
